<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Title of the document</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="js/Module-pokedex.js"></script>
		<script src="js/Controller-Pokemon.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>

	<body ng-app="pokedex">

		<div class="container">

			<div ng-controller="PokemonController as pkmCtrl">

				<h1>{{pkmCtrl.pokemon.name}} #{{pkmCtrl.pokemon.id}}</h1>

				<h2>{{pkmCtrl.pokemon.species}}</h2>

				<img src="img/pokemons/{{pkmCtrl.pokemon.name | lowercase}}.jpg">

				<h2>Pokédex</h2>

				<ul class="list-group">

				  <li class="list-group-item"><strong>Type</strong>

				  	<span class="pull-right"> 

					  	<span ng-repeat="type in pkmCtrl.pokemon.type" class="label type type-{{type | lowercase}}">

					  		{{type}}

					  	</span>

				  	</span>

				  </li>

				  <li class="list-group-item"><strong>Height</strong> 

				  	<span class="pull-right"> 

					  	<span>

					  		{{pkmCtrl.pokemon.height}}

					  	</span>

				  	</span>

				  </li>

				  <li class="list-group-item"><strong>Weight</strong> 

				  	<span class="pull-right"> 

					  	<span>

					  		{{pkmCtrl.pokemon.weight}}

					  	</span>

				  	</span>

				  </li>

				  <li class="list-group-item"><strong>Abilities</strong>

				  	<span class="pull-right"> 

					  	<span ng-repeat="ab in pkmCtrl.pokemon.abilities" class="label type type-dragon">

					  		{{ab}}

					  	</span>

				  	</span>

				  </li>

				</ul>

			</div>

		</div>

	</body>

</html>